# Entornos virtuales
venv/
.env

# Archivos de sistema y temporales
*.pyc
__pycache__/
.DS_Store

# Archivos de base de datos
*.sqlite3

# Logs y archivos temporales
*.log

# Archivos y carpetas de Django que no deberían subirse
static/
media/

# Configuración de IDEs
.idea/
.vscode/

# Archivos relacionados con Docker
*.pid
docker-compose.override.yml

# Archivos temporales de Docker
*.seed
